 html , body > * {
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgb(203,233,236);
  background: linear-gradient(90deg, rgba(203,233,236,1) 0%, rgba(214,255,255,1) 50%, rgba(203,233,236,1) 100%);
  
} 

.Box {
  border: 2px dashed rgb(0, 0, 0);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 3px 3px 50px grey;
}


.smallBox {
  text-align: center;
    border: 1PX dashed rgb(59, 89, 188);
    padding: 0 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
    width: 250px;
    padding: 20px 0px 20px 0px;
}
